.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 85px;
}

.App-header {
  background-color: #ffffff;
  height: 70px;
  padding: 10px;
  text-align: center;
}

.App-title {
  font-size: 1.75em;
}

.App-intro {
  font-size: large;
}
