.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 50px;
}

.App-header {
  background-color: #ffffff;
  height: 100px;
  padding: 10px;
  color: #2f83d6;
  text-align: center;
  border-bottom: solid 1.5px;
}

.App-title {
  font-size: 1.75em;
}

.App-intro {
  font-size: large;
}

#toast-container > div {
  opacity: 1;
}
